/* ############# */
/* CSS VARIABLES */
/* ############# */
* {
    /* color palette */
    --color-orange: 230, 102, 43;
    --color-pink: 199, 44, 104;
    --color-purple: 119, 25, 96;
    --color-lightBlue: 47, 86, 233;
    --color-drkBlue: 39, 24, 32;
    --color-green: 74, 164, 123;
    --color-black: 0, 0, 0;
    --color-lightBlack: 53, 54, 58;
    --alpha: 0.5;
  
    /* font families */
    --font-headline: 'Merriweather', serif;
    --font-textBody: 'Open Sans', sans-serif;
  }

body, html {
    height: 100%;
}

body {
    background: rgb(255, 255, 255);
}

/* ///////// */
/* JUMBOTRON */
/* ///////// */

.titleJumbotron {
    margin: 0px;
    /* background: url("../images/fitNoCovid.png") no-repeat center center; */
    /* background-size: cover; */
    background-attachment: fixed;
}

.headerDivJumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: 5px solid black;
    padding: 20px;
}

#headerJumbotron {
    font-family: var(--font-headline);
    font-size: 50px;
    font-weight: 900;
    border-bottom: 2px solid black;
    
}

#subheaderJumbotron {
    font-family: var(--font-textBody);
    font-size: 30px;
}

/* ///////////// */
/* NAV BAR STYLE */
/* ///////////// */

#navbar {
	padding: 10px 30px 10px 30px;
	font-family: var(--font-textBody);
	overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* sorta buttons */
.navLink {
    color: Black;
    margin-right: 50px; 
}

#scrapeArticlesButton {
    margin-top: 10px;
    padding: 10px;
    font-family: var(--font-textBody);
    color: black;
    border: 1px solid black;
    background: white;
}

#generalButton {
    margin-top: 10px;
    padding: 10px;
    font-family: var(--font-textBody);
    color: black;
    border: 1px solid black;
    background: white;
}


/* ///////////////////// */
/* SCRAPED ARTICLE STYLE */
/* ///////////////////// */

.card-header {
    /* background-image: url(../images/chalkboard.jpg); */
    border: 1px solid black;
}

.card {
    margin-top: 20px;
}

.card-body {
    border: 1px solid black;
}

.headlineLink {
    font-family: var(--font-headline);
    font-weight: bolder;
    text-decoration: none;
    color: black
}

.headlineLink:hover {
    text-decoration: none;
    color: darkgrey
}

p {
    font-family: var(--font-textBody)
}

.articleImage {
    width: 100%
}

.buttonColumn {
    margin-right: 0px
}

.saveArticleButton {
    margin-top: 10px;
    padding: 10px;
    font-family: var(--font-textBody);
    color: black;
    border: 1px solid black;
    background: white;
}

.modal-header {
    background-image: url(../images/chalkboard.jpg);
    color: white;
    font-family: 'Special Elite', cursive;
}

.buttonRow {
    margin-top: 10px
}

#titleinput,
#bodyinput {
    width: 100%
}

.articleContainer {
    padding-bottom: 50px;
    padding-top: 20px
}

.noteCard {
    display: block;
    width: 100%
}

.noteCardBody {
    color: black
}